# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Upload/output folders (optional)
uploads/
outputs/

# OS junk
.DS_Store
Thumbs.db

# ML models / weights (DO NOT COMMIT)
models/
*.pth
*.pt
*.onnx
*.ckpt
*.tflite
*.bin
*.pkl
*.joblib

# Node junk
frontend/node_modules/